@media only screen and (max-width:1900px) {
    html {
        background-color: #F2F8FE;
    }

    body {
        animation: fadeIn .5s linear;
      }
      @keyframes fadeIn {
        0% {
          opacity: 0;
        }
        100% {
          opacity: 1;
        }
      }
    
    * {
        box-sizing: border-box;
      }
    
    #logo {
        float: left;
        width: 85px;
        padding-left: 20px;
        padding-top: 20px;
    }
    
    h1 {
        font-family: 'Ubuntu';
        font-style: normal;
        font-weight: 400;
        font-size: 48px;
        line-height: 55px;
        color: #7D89A1;
        padding: 20px;
        text-align: center;
        margin: 0;
    }
    
    h3 {
        font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        font-style: normal;
        font-weight: 500;
        font-size: 25px;
        line-height: 43px;
        color: #3c414d;
        letter-spacing: 3px;
    }
    
    h2 {
        font-family: 'Raleway';
        font-style: normal;
        font-weight: 600;
        font-size: 26px;
        line-height: 45px;
        color: #000000;
        padding-left: 10px;
    }
    
    h4 {
        font-family: 'Noto Sans';
        font-style: normal;
        font-weight: 500;
        font-size: 28px;
        line-height: 38px;
        color: #000000;
    }
    
    h5 {
        font-family: 'Hind';
        font-style: normal;
        font-weight: 500;
        font-size: 26px;
        line-height: 42px;
        color: #7D8AA1;
    }
    
    h6 {
        font-family: 'Farro';
        font-style: normal;
        font-weight: 400;
        font-size: 24px;
        line-height: 24px;
        color: #EEE4CE;
    }
    
    
    .header {
        background-color: #F2F8FE;
    }
    
    body{
        margin: 0;
    }
    
    /* a:link, a:visited {
        font-family: 'Ubuntu';
        font-style: normal;
        font-weight: 500;
        font-size: 20px;
        line-height: 23px;
        color: #A8A195;
    }
    
    a:hover {
        font-family: 'Ubuntu';
        font-style: normal;
        font-weight: 700;
        font-size: 20px;
        line-height: 23px;
        color: #7D8AA1;
    }
    
    a:active {
        font-family: 'Ubuntu';
        font-style: normal;
        font-weight: 700;
        font-size: 20px;
        line-height: 23px;
        color: #586883;
    } */
    
    p {
        padding-left: 10px;
        font-family: 'Hind';
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 26px;
        color: #000000;
    }
    
    .row {
        display: flex;
    }
      
    .column {
        flex: 50%;
        padding: 5px;
    }
    
    hr { 
        border: 0; 
        height: 1px; 
        background-image: -webkit-linear-gradient(left, #f0f0f0, #789DA1, #f0f0f0);
        background-image: -moz-linear-gradient(left, #f0f0f0, #789DA1, #f0f0f0);
        background-image: -ms-linear-gradient(left, #f0f0f0, #789DA1, #f0f0f0);
        background-image: -o-linear-gradient(left, #f0f0f0, #789DA1, #f0f0f0); 
      }
    
    .inlineblock {
        display: inline-block;
    }
    
    /* button */
    button {
        margin: 50px;
        font-family: inherit;
        width: 250px;
    }
    
    .fill1 {
        font-size: 18px;
        font-weight: 200;
        letter-spacing: 1px;
        padding: 13px 50px 13px;
        outline: 0;
        border: 1px solid black;
        cursor: pointer;
        position: relative;
        background-color: rgba(0, 0, 0, 0);
        margin-left: 150px;
    }
    
    .fill1::after {
        content: "";
        background-color: #A8A195;
        width: 100%;
        z-index: -1;
        position: absolute;
        height: 100%;
        top: 7px;
        left: 7px;
        transition: 0.2s;
    }
    
    .fill1:hover::after {
        top: -7px;
        left: -7px;
        background-color: #7D89A1;
      }
    
    .fill2 {
        font-size: 20px;
        font-weight: 200;
        letter-spacing: 1px;
        padding: 13px 50px 13px;
        outline: 0;
        border: 1px solid black;
        cursor: pointer;
        position: relative;
        background-color: rgba(0, 0, 0, 0);
    }
    
    .fill2::after {
        content: "";
        background-color: #7D89A1;
        width: 100%;
        z-index: -1;
        position: absolute;
        height: 100%;
        top: 7px;
        left: 7px;
        transition: 0.2s;
    }
    
    .fill2:hover::after {
        top: 0px;
        left: 0px;
    }
    
    .pad {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 100px;
     }
    
    
      .dots{ 
        margin: 0;
        padding: 15px 0 15px 30px;
        list-style: none;
        background-image: url("/img/ul.png");
        background-repeat: no-repeat;
        background-position: left center;
        background-size: 30px;
    }

    .listy {
      margin-top: 100px;
      padding: 20px;
    }

    .listy a {
      font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
      font-style: normal;
      font-weight: 400;
      text-decoration: none;
      color: #7D89A1;
    }

    .listy a:hover {
      font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
      font-style: normal;
      text-decoration: none;
      color: #3c414d;
    }

    .main_content {
        margin-top: 100px;
    }

    /* intro screen */


    .flex_container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .size1 {
        display: block;
        width: 100%;
        max-width: 700px;
        height: auto;
        margin: auto;
    }

    .hover_container {
        position: relative;
        animation-name: yourAnimation;
        animation-delay: 6s;
        animation-duration: 1s;
        animation-fill-mode: both;
    }

    .size2 {
        display: block;
        width: 100%;
        max-width: 200px;
        height: auto;
        margin-top: -100px;
        margin-left: 20px;
    }

    .size2_target {
        display: block;
        width: 100%;
        max-width: 350px;
        height: auto;
        margin-top: -100px;
        margin-left: 20px;
        position: absolute;
        left: 0;
        top: 0;
        opacity: 0;
    }

    .size2_target:hover {
        opacity: 100;
    }

    @keyframes yourAnimation{
        0%{
            opacity: 0;
            }
        100%{
            opacity: 1;
            }
        }

        /* nav bar */

    .navbar {
        overflow: hidden;
        background-color: #CEDBEE;
        position: fixed;
        top: 0;
        width: 100%;
        height: 100px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        z-index: 300;
    }

    .img_sizing {
        width: 100px;
    }

    .projects {
        margin-left: 85px;
        text-decoration: none;
        padding-top: 5px;
        border-top: #7D89A1 2px solid;
        color: #7D89A1;
        font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        font-style: normal;
        font-weight: 500;
        font-size: 20px;
    }

    .projects:hover {
        border-top: #787b82 3px solid;
        color: #787b82;
        font-weight: 525;
    }

    .aboutMe {
        margin-right: 85px;
        text-decoration: none;
        padding-top: 5px;
        border-top: #7D89A1 2px solid;
        color: #7D89A1;
        font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        font-style: normal;
        font-weight: 500;
        font-size: 20px;
    }

    .aboutMe:hover {
        border-top: #787b82 3px solid;
        color: #787b82;
        font-weight: 525;
    }
      
    /* main screen */

      /* .-wrapper {
        display: flex;
        flex-wrap: wrap;
        font-size: 30px;
        text-align: center;
        margin-top: 100px;

        display: grid;
        grid-template-columns: 720px 720px;
        grid-template-rows: 1000px 1000px;
        margin-top: 95px;
        justify-content: space-evenly;
      }

      .flex-item-left {
        flex: 50%;
        align-items: center;
      }

      .flex-item-left img {
        max-width: 100%;
        object-fit: contain;
      }

      .flex-item-left p {
        align-self: center;
      }

      .flex-item-right {
        flex: 50%;
      }

      .flex-item-right img {
        max-width: 100%;
      } */

      .box-grid {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
        grid-gap: 2rem;
        justify-items: center;
        padding: 5px;
        margin-top: 100px;
      }

      .box-grid1 {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
        grid-gap: 2rem;
        justify-items: center;
        padding: 5px;
        margin-top: 100px;
        background-color: #7D8AA1;
      }

      .box-grid2 {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
        grid-gap: 2rem;
        justify-items: center;
        padding: 5px;
        margin-top: 200px;
      }

      .box-grid3 {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
        grid-gap: 2rem;
        justify-items: center;
        padding: 5px;
        margin-top: 100px;
      }

      .box-flex {
        display: flex;
        flex-flow: wrap;
        align-items: center;
        justify-content: center;
        padding: .5rem;
        text-align: center;
        font-size: 1.2rem;
        color: black;
      }
      
      .box-flex1 {
        display: flex;
        flex-flow: wrap;
        align-items: center;
        justify-content: space-evenly;
        padding: .5rem;
        text-align: center;
        font-size: 1.2rem;
        color: black;
        margin-bottom: 55px;
      }

      .sp {
        font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        font-style: normal;
        color: #CEDBEE;
        letter-spacing: 3px;
        font-size: 33px;
        width: 400px;
      }

      .box-caption {
        position: absolute;
        max-width: 300px;
        margin: 0;
        padding: .5rem;
        word-break: break-word;
        font-size: 20px;
        background-color: rgba(0,0,0,.3);
        color: whitesmoke;
        letter-spacing: 3px;
      }

      .box-caption:hover {
        color:#d9d9d9;
      }

      .box-flex a {
        text-decoration: none;
      }

      .box-flex-center {
        align-items: center;
      }

      .box-img {
        width: 600px;
        height: 600px;
        transition: -webkit-transform .2s ease-in-out;
        transition: transform .2s ease-in-out;
      }

      .box-img1 {
        width: 700px;
        height: 500px;
        margin-top: 50px;
      }
      
      .box-img:hover {
        -webkit-transform: scale(1.02);
        transform: scale(1.02);
      }

      .box-imgg {
        width: 400px;
        height: 400px;
        transition: -webkit-transform .2s ease-in-out;
        transition: transform .2s ease-in-out;
      }

      .box-imggg {
        width: 500px;
        height: 500px;
        transition: -webkit-transform .2s ease-in-out;
        transition: transform .2s ease-in-out;
      }

      .box-imgggg {
        width: 700px;
        height: 450px;
        transition: -webkit-transform .2s ease-in-out;
        transition: transform .2s ease-in-out;
      }

      .box-imgggg:hover {
        -webkit-transform: scale(1.02);
        transform: scale(1.02);
      }


      .box-imggg:hover {
        -webkit-transform: scale(1.02);
        transform: scale(1.02);
      }

      .box-special {
        width: 800px;
        height: 400px;
      }

      .box-flex-bottom {
        align-items: flex-end;
      }

      .box-caption1 {
        position: absolute;
        max-width: 400px;
        margin: 0;
        word-break: break-word;
        font-size: 14px;
        color: black;
        letter-spacing: 0.5px;
        font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        font-style: normal;
        margin-top: 1px;
      }


      .box-caption-special {
        position: absolute;
        max-width: 400px;
        margin: 0;
        word-break: break-word;
        font-size: 12px;
        color: black;
        letter-spacing: 0.25px;
        font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        font-style: normal;
      }

      .small {
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        font-weight: 300;
      }

      .siz {
        width: 300px;
      }
    
      .img_sizing1 {
        width: 300px;
        margin-top: 75px;
      }

      .b {
        background-color: #7D89A1;
      }

      .textdecorate {
        text-decoration: none;
        color: #7D89A1;
      }

      .textdecorate:hover {
        color: #3c414d;
      }
    /* info page */

    .wrap {
        background-image: url(/img/info_bg.jpg);
        display: grid;
        grid-template-columns: 600px 600px;
        grid-template-rows: 1000px;
        margin-top: 95px;
        justify-content: space-evenly;
    }

    .grid-text {
        margin-top: 50px;
    }

    .grid-text p {
        font-size: 17px;
        font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        font-style: normal;
        color: #3c414d;
        width: 400px;
    }
    
    .space {
        margin-top: 75px;
        margin-left: 20px;
    }

    /* rks */

    .gallery {
        display: grid;
        grid-template-columns: 475px 475px 475px;
        grid-template-rows: 475px 475px 475px;
        margin-top: 115px;
        margin-left: 5px;
        margin-right: 5px;
        justify-content: space-evenly;
        column-gap: 5px;
        row-gap: 5px;
        place-items: center;
    }

     .imgg img{
        width: 475px;
        height: 475px;
        object-fit: contain;
     }

     .imgg p {
        margin-top: -28px;
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        font-weight: 100;
        color: #7D8AA1;
        text-align: center;
     }

     .item1{
        grid-column: 1/4;
     }

     .item1 img {
        width: 1425px;
        height: 475px;
        object-fit: contain;
        margin-bottom: 20px;
     }

     .item2 {
        grid-column: 2/4;
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        font-weight: 300;
        width: 600px;
        margin-left: -200px;
     }

     .box {
        display: grid;
        grid-template-columns: 700px 500px;
        grid-template-rows: 500px;
        justify-content: space-evenly;
        place-items: center;
        margin-top: 150px;
     }
     .sizing img{
        width: 500px;
     }
     .sizing p {
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        font-weight: 300;
        font-size: 20px;
     }

     .sizing a {
        text-decoration: none;
        color: black;
     }

     .sizing a:hover {
        color: #7D8AA1;
     }

     .gallery1 {
        display: grid;
        grid-template-columns: 475px 475px 475px;
        grid-template-rows: 475px 475px;
        margin-top: 115px;
        margin-left: 5px;
        margin-right: 5px;
        justify-content: space-evenly;
        column-gap: 5px;
        row-gap: 5px;
        place-items: center;
    }

    .sizin img {
        width: 500px;
        margin-top: 10px;
        padding: 20px;
    }

    .sizin {
        display: flex;
        justify-content: center;
    }

    .sizin button {
        margin-left: -2px;
    }

    #brick {
        width: 200px;
        height: 20px;
        position: relative;
        cursor: pointer;
        margin-top: 200px;
        font-size: 20px;
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        font-weight: 400;
        float: left;
      }
    
}

@media only screen and (max-width:800px) {
    .row {
      display:block  
    }
    .fill2 {
        display: none;
    }

    .fill1::after {
        content: "";
        background-color: #7D89A1;
        width: 100%;
        z-index: -1;
        position: absolute;
        height: 100%;
        top: 7px;
        left: 7px;
        transition: 0.2s;
    }

    .fill1:hover::after {
        top: -7px;
        left: -7px;
        background-color: #A8A195;
      }

    h1 {
        color: #A8A195;
    }

    hr { 
        border: 0; 
        height: 1px; 
        background-image: -webkit-linear-gradient(left, #f0f0f0, #A8A195, #f0f0f0);
        background-image: -moz-linear-gradient(left, #f0f0f0, #A8A195, #f0f0f0);
        background-image: -ms-linear-gradient(left, #f0f0f0, #A8A195, #f0f0f0);
        background-image: -o-linear-gradient(left, #f0f0f0, #A8A195, #f0f0f0); 
      }

      /* main */
      .-wrapper {
        display: grid;
        grid-template-columns: 720px;
        grid-template-rows: 1000px 1000px;
        margin-top: 95px;
        justify-content: space-evenly;
      }

      .wrap {
        background-image: url(/img/info_bg.jpg);
        display: grid;
        grid-template-columns: 600px;
        grid-template-rows: 1000px;
        margin-top: 95px;
        justify-content: space-evenly;
    }

    .box {
        display: grid;
        grid-template-columns: 700px;
        grid-template-rows: 500px 500px;
        justify-content: space-evenly;
        place-items: center;
        margin-top: 150px;
     }

     button {
        display: none;
     }

    .gallery1 {
        display: grid;
        grid-template-columns: 475px;
        grid-template-rows: 475px 475px;
        margin-top: 115px;
        margin-left: 5px;
        margin-right: 5px;
        justify-content: space-evenly;
        column-gap: 5px;
        row-gap: 5px;
        place-items: center;
    }

    .gallery {
        display: felx;
        flex-direction: column;
        margin-top: 115px;
        margin-left: 5px;
        margin-right: 5px;
        justify-content: space-evenly;
        column-gap: 5px;
        row-gap: 5px;
        place-items: center;
    }

    .item1{
        grid-column: 1/4;
     }

     .box-img {
        width: 300px;
        height: 300px;
     }

     .box-caption {
        width: 150px;
        font-size: 14px;
     }

     .projects {
        font-size: 14px;
        margin-left: 40px;
     }

     .navbar {
        height: 75px;
     }
     .aboutMe {
        font-size: 14px;
        margin-right: 40px;
     }

     .img_sizing {
        width: 65px;
     }

     .img_sizing1 {
        margin-top: 50px;
        width: 200px;
     }

     .box-grid {
        margin-top: 65px;
     }

     .size2 {
        max-width: 100px;
        margin-top: 0;
     }

     .size2_target {
        display: none;
     }

     .gone {
        display: none;
     }

     .wrap {
        margin-top: 50px;
        grid-template-columns: 600px;
        padding-left: 200px;
     }

     .box-special {
        width: 300px;
        height: 150px;
     }

     .box-imgg {
        width: 300px;
        height: 300px;
     }

     .box-caption1 {
        font-size: 12px;
        width: 300px;
     }

     .box-caption-special {
        font-size: 9px;
        width: 300px;
        letter-spacing: 0;
     }

     .small {
        font-size: 14px;
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        font-weight: 300;
     }

     .box-imggg {
        width: 300px;
        height: 300px;
     }

     .box-grid1 {
        margin-top: 75px;
     }

     .box-imgggg {
        width: 400px;
        height: 200px;
     }

     .box-grid2 {
        margin-top: 100px;;
     }

     .box-grid3 {
        margin-top: 75px;
     }

     .sp {
        margin-top: 100px;
        font-size: 25px;
     }

     .box-img1 {
        width: 400px;
        height: 300px;
        margin-top: -25px;
     }
}