/* General styles*/

body {
    margin: 0;
  }
  
  html {
    font-family: 'Helvetica neue', Arial, 'sans serif';
    font-size: 10px;
    background-color: #ccc;
  }
  
/* setup of card container */

/* header and footer styles */

/* main styles */